{%load static%}

<!DOCTYPE html>
<html>
<head>
  <meta property="og:url" content="http://hackon.elementsculmyca.com">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Hackon'19 Cryptic Challenge">
    <meta property="og:description" content="Hack On is a prefest hacking and penetration testing event for Elements Culmyca' 19 , the annual cutural and technical fest of YMCA University of Science and Technology, Faridabad">
    <meta property="og:image" content="http://hackon.elementsculmyca.com/images/fb-cover.jpg">
    <meta property="og:site_name" content="Hackon Culmyca'19">
    <meta property="fb:app_id" content="376469753224342">
  <title>{% block title%}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" data-turbolinks-track="reload">  
  {% block head %}

  {% endblock %}


</head>
<body>
  <canvas id="c"></canvas>
  <div class="maindiv">
    <div class="header">
      <div >
        <img class='logo' src="{% static 'assets1/Group 200.png' %}"/>
      </div>
      <div class="nav">
        <a href="/"><p class="item">Home</p></a>
        <a href="/developers/"><p class="item">Developers</p></a>
        <a href="/task/"><p class="item">Task</p></a>
        <a href="/rules/"><p class="item">Rules</p></a>
        <a href="/leaderboard/"><p class="item">Leaderboards</p></a>
          {% if request.user.is_authenticated %}
        <a href="/logout/"><p class="item"><img src="{% static 'images/logout.png' %}" style="width: 3vw;background-color: #fff;"></p></a>
        {% endif %}
      </div>
    </div>
    {% block body%}

    {% endblock %}

  </div>

  <script type="text/javascript" src="{% static 'javascript/backdrop.js' %}" data-turbolinks-track="reload">
  </script>

</body>
</html>


