{% extends 'base.html' %}

{% block title %}

HackOn | Developers

{% endblock%}



{% block body %}


<div class="developers">
			<div>
				<p class="devheading">Developing Team</p>
			</div>	
			<div class="photos">
				<div class="profile">
					<img class="dp" src="/static/assets2/ravinder.jpeg">
					<p class="myname">Ravinder Kumar</p>
					<p class="myskill">Frontend Developer</p>
				</div>
				<div class="profile">
					<img class="dp" src="/static/assets2/sahil.jpg">
					<p class="myname">Sahil Singla</p>
					<p class="myskill">Backend Developer</p>
				</div>
				<div class="profile">
					<img class="dp" src="/static/assets2/ankit.jpeg">
					<p class="myname">Ankit Mittal</p>
					<p class="myskill">UI/UX Designer</p>
				</div>
				<div class="profile">
					<img class="dp" src="https://www.elementsculmyca.com/images/team/dev/manmeet.jpg">
					<p class="myname">Manmeet Rana</p>
					<p class="myskill">Problem Curator</p>
				</div>
				<div class="profile">
					<img class="dp" src="/static/assets2/ankit2.jpeg">
					<p class="myname">Ankit Jangra</p>
					<p class="myskill">Frontend Contribution</p>
				</div>
			</div>
		</div>


{% endblock%}