
{% extends 'base.html' %}
{% load static %}

{% block title %}
HackOn | Home
{% endblock%}


{% block body %}
{% if not request.user.is_authenticated %}

  <center><a href="{% url 'social:begin' 'google-oauth2' %}"><img style="height: 5vw;" src="{% static 'images/google-login.png'%}"></a></center><br>
{% endif %}
<div class="home">
	<p class="hackon">HACKON</p>
	<p class="sponsor">Sponsered by</p>
	<p class="para">Hack On is a prefest hacking and penetration testing event for Elements Culmyca' 18, the annual cultural and technical fest of YMCA University of Science and Technology, Faridabad.<br></br>
		Unveil the hacker in you.
	</p>
</div>

{% endblock %}