
{% extends 'base.html' %}
{% load static %}

{% block title %}
HackOn | Home
{% endblock%}


{% block head %}
<style>
  blink{
    animation: blinker 1s linear infinite;
    color: #1c87c9;
   }
  @keyframes blinker {  
    50% { opacity: 0; }
   }
</style>
{% endblock %}

{% block body %}
{% if not request.user.is_authenticated %}
      <center><blink><h1>You need guts, if you want to get into the game</h1></blink></center>
  <center><a href="{% url 'social:begin' 'google-oauth2' %}"><img style="height: 5vw; display: none;" src="{% static 'images/google-login.png'%}"></a></center><br>
{% endif %}
<div class="home">
	<p class="hackon">HACKON</p>
	<p class="para">
		<b>The Game has ended!</b>
	<br>
		Hack On is a prefest hacking and penetration testing event for Elements Culmyca' 19, the annual cultural and technical fest of YMCA University of Science and Technology, Faridabad.<br></br>
		Unveil the hacker in you.
		Their will be no updation in leaderboard, however you can solve the questions here.
	</br>
	</p>
</div>

{% endblock %}
