{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}

HackOn | Leaderboard

{% endblock%}



{% block body %}

<div class="tboddy2">
	<table >
	  <tr>
	    <th>Rank</th>
	    <th>Name</th>
	    <th>Time Taken</th>
	    <th>Score</th>
	  </tr>
	  {% for user in users %}

	  <tr style="{% if request.user == user.user %}background-color: #000; {% endif %}">
	    <td>{{ forloop.counter }}</td>
	    <td>{{user.user.username}}</td>
	    <td>{{user.total_time_taken|duration}}</td>
	    <td>{{user.total_score}}</td>
	  </tr>			  
	  {% endfor %}
	</table>
</div>

{% endblock %}