{% extends '../base.html' %}


{% block head %}

{% endblock%}



{% block body %}
<div class="container col-lg-4 col-lg-offset-4 mt-5">
<form method="post" action="/task/1/answer/">
  {% csrf_token %}
  <span for="mobile">Username</span>
  <span style="display: none;">999</span>
  <input type="text" name="username">
  <br>
  <span for="mobile">Password</span>
  <span style="display: none;">111</span>
  <input type="password" name="password">
  <br>
  <input type="submit" name="submit">
</form>
</div>
{% endblock %}