{% extends '../base.html' %}


{% block head %}

{% endblock%}



{% block body %}

<div class="container col-lg-4 col-lg-offset-4 mt-5">
<form method="post" action="/task/1/answer/">
  {% csrf_token %}
  <input type="hidden" name="file" value="../../token/serialize.xml">
  <span for="mobile">Username</span>
  <input type="text" name="username">
  <br>
  <span for="mobile">Password</span>
  <input type="password" name="password">
  <br>
  <input type="submit" name="submit">
</form>
</div>

{% endblock%}